:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-light: hsl(333, 80%, 67%);
  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Spartan', sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: 15px;
  text-rendering: optimizeSpeed;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.fm-attribution {
  font-size: 11px;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}