:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-light: hsl(333, 80%, 67%);
  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Spartan', sans-serif;
}

html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  text-rendering: optimizeSpeed;
}

.main-container {
  max-width: 375px;
  width: 100%;
  padding: 6rem 1.5rem;
  margin: 0 auto;
  background-image: url(../assets/images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
}

@media (min-width: 800px){
  .main-container {
    max-width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-image: url(../assets/images/bg-pattern-top-desktop.svg);
  }
}

/* Hidden elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4.5rem;
}

@media (min-width: 800px){
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.slogan-wrapper {
  flex-basis: 46%;
  margin-bottom: 2rem;
}

@media (min-width: 990px){
  .slogan-wrapper {
    flex-basis: 470px;
  }
}

.slogan__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-dark);
  margin-bottom: 1.5rem;
}

.slogan__text {
  font-size: .975rem;
  font-weight: 300;
  line-height: 1.6;
}

.ratings-wrapper {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 990px){
  .ratings-wrapper {
    flex-basis: 600px;
  }
}

.rating__label {
  background: var(--neutral-light);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: .5rem;
}

@media (min-width: 990px){
  .rating__label {
    width: 75%;
  }

  .rating__label:nth-of-type(2) {
    align-self: center;
  }

  .rating__label:nth-of-type(3) {
    align-self: end;
  }
}

.rating__stars {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: .75rem;
}

.rating__text {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: .875rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}

@media (min-width: 800px){
  .reviews-container {
    flex-direction: row;
  }
}

@media (min-width: 990px){
  .reviews-container {
    min-height: 280px;
    align-items: start;
  }
}

.review__card {
  flex: 1;
  background-color: var(--primary-dark);
  color: var(--white);
  line-height: 1.6;
  padding: 2rem;
  border-radius: .5rem;
}

@media (min-width: 990px){
  .review__card {
    height: 245px;
  }

  .review__card:nth-of-type(2) {
    align-self: center;
  }

  .review__card:nth-of-type(3) {
    align-self: end;
  }
}

.review__card-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.review__card-img {
  border-radius: 50%;
  max-width: 20%;
}

.review__card-titles h3 {
  color: var(--primary-light);
}

.review__card-titles h2,
.review__card-titles h3,
.review__card-body {
  font-size: .8725rem;
}

.fm-attribution-row {
  margin-top: 4rem;
  text-align: right;
}

.fm-attribution {
  font-size: .75rem;
  line-height: 1.6;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}